@media (min-width: 768px) and (max-width: 1024px) {
  /*COMMON STYLES=============================*/

  .modal__download-button {
    font-size: 22px;
  }

  .row {
    margin-left: 45px;
    margin-right: 45px;
  }

  .menu__logo {
    width: 60px;
    image-rendering: optimizeQuality;
  }
  .main-container {
    font-family: "Roboto";
    font-weight: 400;
  }

  .jumbotron__platform-ico-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .menu__links_margin {
    margin-top: 50px;
  }

  .menu {
    height: auto;
    margin-top: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #333333;
  }

  .nav-item {
    font-size: 20px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    display: initial;
  }

  .nav-link_margin {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px !important;
  }

  .menu {
    -webkit-box-shadow: 0px 5px 15px rgba(33, 51, 101, 0.1);
    box-shadow: 0px 5px 15px rgba(33, 51, 101, 0.1);
    background: #ffffff;
  }

  .active {
    color: #12b2e7 !important;
  }

  .nav-link:hover {
    color: rgb(15, 145, 189) !important;
  }

  a:hover {
    text-decoration: none !important;
    color: rgb(15, 145, 189) !important;
  }

  ._like-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #333333;
  }

  .list-marker_style {
    width: 38px;
    height: 36px;
    margin-right: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 36px;
    background-color: #f1f9ff;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #12b2e7;
    display: inline-block;
  }

  li {
    list-style: none;
  }

  ul {
    margin-bottom: 0;
  }

  ._blue-text {
    color: #12b2e7;
  }

  ._position-top-30 {
    position: relative;
    top: -30px;
  }

  ._padding-left-0 {
    padding-left: 15px !important;
  }

  ._padding-right-0 {
    padding-right: 0 !important;
  }

  .__download-button {
    width: 50%;
    /* max-width: 240px; */
    height: 60px;
    background: #12b2e7;
    border: 3px solid #12b2e7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .__download-button > a {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }

  .__download-button_margin {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .download-kodi__paragraph {
    font-weight: normal;
    font-size: 18px;
    color: #555555;
  }

  .__app-banners_margin {
    margin-bottom: 30px;
  }

  /*===============================================================*/

  /* MAIN PAGE==================================================== */
  .jumbotron__heading {
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    color: #333333;
    width: 95%;
    text-align: center;
  }

  .jumbotron__heading_margin {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .jumbotron__paragraph {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .jumbotron__paragraph_margin {
    margin-bottom: 52px;
  }

  .header__jumbotron_margin {
    margin-top: 111px;
  }

  .jumbotron_banner {
    width: 375px;
  }

  .jumbotron_banner_position {
    position: relative;
    left: 0;
    top: 0;
  }

  .header_padding {
    padding-bottom: 100px;
  }

  .kodi-info_background {
    background: #222222;
  }

  .kodi-info__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
  }

  .kodi-info__padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .kodi-features__item-wrapper > img {
    width: 70px;
  }

  .kodi-features__item-ico_margin {
    margin-bottom: 30px;
  }

  .kodi-features__item_parag_text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #555555;
    width: 140px;
    margin-bottom: 20px;
  }

  .kodi-features_padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .kodi-features__heading_margin {
    margin-bottom: 75px;
  }

  .kodi-features_background {
    background-color: #f1f9ff;
  }

  .kodi-android_padding {
    padding-top: 50px;
  }

  .kodi-android__list_margin {
    margin-top: 41px;
  }

  .kodi-android__list-item_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    width: 595px;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
  }

  .kodi-android__list-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .table th,
  .table td {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  thead {
    background: #f1f9ff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #12b2e7;
  }

  tbody {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #555555;
  }

  .table tr {
    border-bottom: 1px solid rgba(160, 224, 245, 0.4);
  }

  .kodi-android__table-wrapper_border {
    border: 1px solid rgba(160, 224, 245, 0.4);
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }

  .kodi-android__table-wrapper_margin {
    margin-top: 77px;
  }

  .kodi-ios_padding {
    padding-top: 119px;
  }

  .kodi-ios__ios-img {
    position: relative;
    top: -30px;
    display: block;
    max-width: 375px;
  }

  .kodi-ios__download-page-ios-img {
    max-width: 345px;
  }

  .kodi-ios_padding {
    padding-top: 100px;
  }

  .kodi-ios__list_margin {
    margin-top: 41px;
  }

  .kodi-ios__list-item_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    width: 595px;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
  }

  .kodi-ios__list-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .kodi-windows_padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .kodi-windows__list_margin {
    margin-top: 41px;
  }

  .kodi-windows__list-item_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    width: 595px;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
  }

  .veepn-download_background {
    background: #222222;
  }

  .veepn-download_padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .veepn-download__heading {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  .veepn-download__heading_margin {
    margin-bottom: 30px;
  }

  .veepn-download__paragraph_text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    width: 80%;
  }

  .veepn-download__paragraph_margin {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .veepn-download__platform-ico_margin {
    margin-bottom: 30px;
  }

  .footer_padding {
    padding-top: 28px;
    padding-bottom: 33px;
  }

  .footer_background {
    background: #000000;
  }

  .footer__paragraph_text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #bdbdbd;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /* ============================================================= */

  /* DOWNLOAD KODI PAGE=========================================== */
  .download-kodi_padding {
    padding-top: 102px;
    padding-bottom: 103px;
  }

  .download-kodi_background {
    background: #f1f9ff;
  }

  .download-kodi__padding {
    padding-top: 40px;
  }

  ._position-left-top {
    left: -40px;
    top: 20px;
  }

  .__download-buttons-group-wrapper_text {
    font-weight: 500;
    font-size: 18px;
  }

  .__download-buttons-group-wrapper_margin {
    margin-top: 47px;
  }

  .__how-to-install_text {
    font-size: 18px;
  }

  .kodi-macos_padding {
    padding-bottom: 10px;
  }

  .kodi-macos__image_face {
    position: relative;
    top: 30px;
    display: block;
    max-width: 375px;
  }

  .download-kodi-page-kodi-windows_padding {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .kodi-windows_face {
    position: relative;
    top: -20px;
    max-width: 438px;
  }

  .download-kodi-page-kodi-android_padding {
    padding-top: 117px;
  }
  /* ============================================================= */

  /* DOWNLOAD KODI PAGE FOR ANDROID=============================== */
  .jumbotron__paragraph_width {
    width: 98%;
  }

  .android-download-page__jumbotron_banner {
    max-width: 375px;
  }

  .guide-install-android__list-item_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    width: 100%;
    display: inline-block;
    margin-bottom: auto;
    margin-top: auto;
  }

  .guide-install-android__list_margin {
    margin-top: 86px;
  }

  .guide-install-android_padding {
    padding-top: 120px;
    padding-bottom: 127px;
  }

  .guide-install-android__line {
    border: 1px solid rgba(160, 224, 245, 0.4);
    height: 160px;
    width: 1px;
    position: absolute;
    top: 175px;
    left: 16px;
    z-index: -10;
    height: 200px;
  }
  /* ============================================================= */

  /* DOWNLOAD KODI PAGE FOR IOS=================================== */
  .jumbotron__download-for-ios-page {
    position: relative;
    top: 0;
    left: -20px;
    max-width: 380px;
  }

  .jumbotron__download-for-ios-page-paragraph_width {
    width: 659px;
  }

  .kodi-ios-download-page_padding {
    padding-bottom: 107px;
    padding-top: 103px;
  }

  .kodi-ios-info_margin {
    margin-bottom: 60px;
  }

  .kodi-ios-info__paragraph {
    font-weight: normal;
    font-size: 18px;
    color: #555555;
  }

  .kodi-ios-info__paragraph_padding {
    padding-top: 40px;
  }

  .kodi-ios-info_padding {
    padding-top: 120px;
    padding-bottom: 114px;
  }

  .kodi-features__parag_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
  }

  .kodi-features-download-page__heading_margin {
    margin-bottom: 56px;
  }

  .kodi-features-download-page__list > li {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    margin-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
  }

  .kodi-features-download-page__list > li:before {
    content: "\00B7";
    margin-right: 43px;
    color: #12b2e7;
    font-size: 50px;
  }

  .kodi-ios__parag_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
  }

  /* ============================================================= */

  /* DOWNLOAD KODI PAGE FOR WINDOWS=============================== */
  .kodi-windows-download-page_padding {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .kodi-windows__parag_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
  }

  .download-for-windows-page__jumbo-banner {
    position: relative;
    top: 0;
    max-width: 375px;
  }

  .download-for-windows-page__windows-download-img {
    position: relative;
    top: -10px;
    max-width: 375px;
  }
  /* ============================================================= */

  /* DOWNLOAD KODI PAGE ADDONS==================================== */
  .kodi-addons-page_jumbo-banner {
    position: relative;
    top: 0;
    left: 0;
    max-width: 375px;
  }

  .best-kodi-addons_padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .kodi-addons-page__jumbotron_paragraph_width {
    width: 81%;
  }

  .best-kodi-addons__list-tem-name {
    font-weight: 500;
    font-size: 22px;
    /* line-height: 31px; */
    color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    vertical-align: middle;
  }

  .best-kodi-addons__list-tem-name:before {
    content: url(../img/marker.svg);
    margin-right: 24px;
    color: #12b2e7;
  }

  .best-kodi-addons__list-paragraph {
    font-size: 18px;
    color: #555555;
  }

  .addons-page__veepn-download-heading {
    width: 80%;
  }
  /* ============================================================= */

  /* FREE VPN FOR KODI APGE======================================= */
  .free-vpn-page__img_position {
    position: relative;
    top: 0;
    left: 0;
    max-width: 395px;
  }

  .kodi-free-vpn_background {
    background: #f1f9ff;
  }

  .kodi-free-vpn_padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .kodi-free-vpn__paragraph {
    font-weight: normal;
    font-size: 18px;
    color: #555555;
  }

  .kodi-free-vpn__padding {
    padding-top: 30px;
  }

  .__paragraph-vpn-soft_text {
    font-size: 18px;
    line-height: 25px;
    color: #555555;
    width: 98%;
  }

  .veepn-soft_padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .veepn-soft__img_position {
    position: relative;
    top: -28px;
    left: 1px;
    max-width: 400px;
  }

  .free-vpn-page__header_padding {
    padding-bottom: 80px;
  }

  .hotspot_padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  ._light-gray-background {
    background: #f1f9ff;
  }

  .hotspot__img {
    position: relative;
    top: -50px;
    max-width: 360px;
  }

  ._vpn-soft-padding {
    padding-top: 120px;
    padding-bottom: 80px;
  }

  .tunnelbear {
    padding-top: 100px !important;
  }

  .tunnelbear__paragraph_width {
    width: 98%;
  }

  .tunnelbear__img {
    position: relative;
    left: 0;
    top: -10px;
    max-width: 400px;
  }

  .hideme__img {
    position: relative;
    top: -45px;
    max-width: 400px;
  }

  .free-vpn-page__header-jumbotron_margin {
    margin-top: 60px !important;
  }
  /* ============================================================= */
  /* MODAL BANNER================================================= */
  .modal-dialog {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-body {
    padding: 0;
    height: auto;
    z-index: 2;
  }

  .modal__veepn-logo-img {
    margin-bottom: 15px !important;
    width: 130px;
  }

  .modal__heading {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #333333;
    text-align: center;
  }

  .modal__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #555555;
  }

  .modal__discount {
    font-weight: 900;
    font-size: 38px;
    line-height: 51px;
    color: #2a4bbb;
  }

  .modal__download-button {
    width: 290px;
    height: 68px;
    background: #ff5b5b;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    margin-bottom: 20px;
    line-height: 55px;
  }

  .modal__info_wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }

  .modal__close-button {
    margin-top: 20px;
    margin-right: -10px;
  }

  .modal__veepn-banner {
    content: url(/img/modal-veepn-banner-mobile.png);
    position: relative;
    top: 11%;
    left: 8%;
    z-index: -1;
    max-width: 284px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .mainpage__android-download-img {
    max-width: 355px;
  }

  .mainpage__windows-download-img {
    max-width: 390px;
  }

  .download-kodi__android-img {
    max-width: 355px;
    margin-bottom: 10px;
    position: relative;
    top: -25px;
  }


  /* ============================================================= */
}

@media (min-width: 992px) and (max-width: 1200px) {
  .nav-item {
    font-size: 17px;
  }

  .nav-link_margin {
    margin-left: 8px !important;
    margin-right: 10px !important;
  }

  .jumbotron__heading {
    text-align: left;
  }

  .jumbotron__paragraph {
    text-align: left;
    width: 100%;
  }
  .__download-button_margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .jumbotron__platform-ico-wrapper {
    text-align: left !important;
  }

  .menu__links_margin {
    margin-top: 23px !important;
}

.nav-link_margin {
  margin-left: 8px !important;
  margin-right: 9px !important;
}

.kodi-ios__download-page-ios-img {
  max-width: 300px !important;
}

.kodi-macos__image_face {
  max-width: 320px;
}

.hotspot__img {
  max-width: 310px !important;
}

.tunnelbear__img {
  max-width: 360px !important;
}

.hideme__img {
  max-width: 340px;
}

.kodi-windows_face {
  max-width: 438px !important;
}

.kodi-ios__ios-img {
  max-width: 355px !important;
}

.modal__veepn-banner {
  top: 20px !important;
  left: 45px !important;
}

.modal__info_wrapper {
  margin-top: 20% !important;
}

.modal__close-button {
  margin-top: 20px;
  margin-right: -10px !important;
}

.modal__download-button {
  width: 228px;
  height: 47px;
  margin-bottom: 20px;
  line-height: 39px;
  font-size: 20px;
}

.modal__veepn-banner {
  content: none;
}
/* 
  .__download-button {
    width: 240px;
  }

  .jumbotron__heading {
    text-align: left;
  }

  .jumbotron__paragraph {
    text-align: left;
    width: 100%;
  }

  .header__jumbotron_margin {
    margin-top: 190px !important;
  }

  .addons-page__veepn-download-heading {
    width: 60%;
  }

  .free-vpn-page__img_position {
    position: relative;
    top: -80px;
    left: -20px;
    max-width: 430px !important;
  }

  .hotspot__img {
    max-width: 80%;
    top: 20px;
  }

  .veepn-soft__img_position {
    position: relative;
    top: 40px;
    max-width: 80%;
  }

  .tunnelbear__img {
    top: 10px;
    max-width: 80%;
  }

  .hideme__img {
    position: relative;
    top: 20px;
    max-width: 80%;
  }
 */
}

@media (min-width: 1025px) and (max-width: 1500px) {
  /* MODAL BANNER================================================= */
  .modal-dialog {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-body {
    padding: 0;
    height: auto;
    z-index: 2;
  }

  .modal__veepn-logo-img {
    margin-bottom: 15px !important;
    width: 130px;
  }

  .modal__heading {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #333333;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #555555;
  }

  .modal__discount {
    font-weight: 900;
    font-size: 52px;
    line-height: 59px;
    color: #2a4bbb;
  }

  .modal__download-button {
    width: 290px;
    height: 68px;
    background: #ff5b5b;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    margin-bottom: 20px;
    line-height: 55px;
  }

  .modal__info_wrapper {
    margin-top: 30%;
    margin-left: 0;
    text-align: center;
  }

  .modal__close-button {
    margin-top: 20px;
    margin-right: 20px !important;
  }

  .modal__veepn-banner {
    position: relative;
    top: -25px !important;
    left: 0 !important;
  }

  /* ============================================================= */
} 