/*
Some dicumentation things:
1) Class (block) name consisting of few full word write like this : class-class-class;
2) Element name write like this (child of block): class-class__element-element;
3) Modificator pf block or element write liket this: class-class__element-element_modificator;
4) Separate element modificator write liket this: -element_modificator (for creating common class styles)
5) Sometimes use single element and modificator like this: __element_modificator
*/

/*FONTS=====================================*/

@font-face {
  font-family: "Roboto";
  src: url("../css/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../css/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../css/fonts/Roboto-Bold.ttf");
  font-weight: 600;
}

/*==========================================*/

/*COMMON STYLES=============================*/
.main-container {
  font-family: "Roboto";
  font-weight: 400;
}

.menu__links_margin {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: #333333;
}

.nav-item {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.nav-link_margin {
  margin-left: 40px;
}

.menu {
  -webkit-box-shadow: 0px 5px 15px rgba(33, 51, 101, 0.1);
  box-shadow: 0px 5px 15px rgba(33, 51, 101, 0.1);
  background: #ffffff;
}

.active {
  color: #12b2e7 !important;
}

.nav-link:hover {
  color: rgb(15, 145, 189) !important;
}

a:hover {
  text-decoration: none !important;
  color: rgb(15, 145, 189) !important;
}

._like-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

._border-blue-line {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#12b2e7),
    to(#12b2e7)
  );
  background-image: -o-linear-gradient(#12b2e7, #12b2e7);
  background-image: linear-gradient(#12b2e7, #12b2e7);
  background-size: 82px 3px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

._margin-bottom-16 {
  margin-bottom: 16px;
}

._margin-bottom-23 {
  margin-bottom: 23px;
}

._margin-bottom-30 {
  margin-bottom: 30px;
}

._margin-top-40 {
  margin-top: 40px;
}

._margin-bottom-40 {
  margin-bottom: 40px;
}

._margin-bottom-52 {
  margin-bottom: 52px;
}

._margin-bottom-25 {
  margin-bottom: 25px;
}

._margin-top-23 {
  margin-top: 23px;
}

._border-blue-line-position-left {
  background-position: left bottom;
}

.list-marker_style {
  width: 38px;
  height: 36px;
  margin-right: 30px;
  border-radius: 50%;
  line-height: 36px;
  background-color: #f1f9ff;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #12b2e7;
  display: inline-block;
  padding-left: 5px;
}

li {
  list-style: none;
}

ul {
  margin-bottom: 0;
}

._blue-text {
  color: #12b2e7 !important;
  font-weight: 500;
}

._padding-left-0 {
  padding-left: 0 !important;
}

._padding-right-0 {
  padding-right: 0 !important;
}

.__download-button {
  width: 278px;
  height: 60px;
  background: #12b2e7;
  border: 3px solid #12b2e7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  outline: none;
}

.__download-button_margin {
  margin-bottom: 30px;
}

.download-kodi__paragraph {
  font-weight: normal;
  font-size: 18px;
  color: #555555;
}

._light-black-text {
  color: #555555;
}

._disable-border {
  border-bottom: none !important;
}
/* Disable browser border over links buttons etc */
a:active,
a:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

/*===============================================================*/

/* MAIN PAGE==================================================== */
.jumbotron__heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 67px;
  color: #333333;
  width: 692px;
  /* width: 57.66%; */
}

.jumbotron__heading_margin {
  margin-bottom: 20px;
}

.jumbotron__paragraph {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
}

.jumbotron__paragraph_margin {
  margin-bottom: 52px;
}

.header__jumbotron_margin {
  margin-top: 230px;
}

.jumbotron_banner_position {
  position: relative;
  left: -50px;
  top: -45px;
}

.header_padding {
  padding-bottom: 60px;
}

.kodi-info_background {
  background: #222222;
}

.kodi-info__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.kodi-info__padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.kodi-features__item-ico_margin {
  margin-bottom: 30px;
}

.kodi-features__item_parag_text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #555555;
  width: 245px;
}

.kodi-features_padding {
  padding-top: 116px;
  padding-bottom: 120px;
}

.kodi-features__heading_margin {
  margin-bottom: 75px;
}

.kodi-features_background {
  background-color: #f1f9ff;
}

.kodi-android_padding {
  padding-top: 137px;
}

.kodi-android__list_margin {
  margin-top: 41px;
}

.kodi-android__list-item_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
  width: 607px;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
}

.kodi-android__list-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table th,
.table td {
  padding-top: 17px;
  padding-bottom: 17px;
}

thead {
  background: #f1f9ff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #12b2e7;
}

tbody {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #555555;
}

.table tr {
  border-bottom: 1px solid rgba(160, 224, 245, 0.4);
}

.kodi-android__table-wrapper_border {
  border: 1px solid rgba(160, 224, 245, 0.4);
  border-radius: 8px;
}

.kodi-android__table-wrapper_margin {
  margin-top: 77px;
}

.kodi-ios_padding {
  padding-top: 119px;
}

.kodi-ios__ios-img {
  width: 472px;
  position: relative;
  top: 15px;
}

.kodi-ios_padding {
  padding-top: 137px;
}

.kodi-ios__list_margin {
  margin-top: 41px;
}

.kodi-ios__list-item_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
  width: 595px;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
}

.kodi-ios__list-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kodi-windows_padding {
  padding-top: 131px;
  padding-bottom: 130px;
}

.kodi-windows__list_margin {
  margin-top: 41px;
}

.kodi-windows__list-item_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
  width: 595px;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
}

.veepn-download_background {
  background: #222222;
}

.veepn-download_padding {
  padding-top: 70px;
  padding-bottom: 70px;
}

.veepn-download__heading {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.veepn-download__heading_margin {
  margin-bottom: 30px;
}

.veepn-download__paragraph_text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  width: 793px;
}

.veepn-download__paragraph_margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.veepn-download__platform-ico_margin {
  margin-bottom: 30px;
}

.footer_padding {
  padding-top: 28px;
  padding-bottom: 33px;
}

.footer_background {
  background: #000000;
}

.footer__paragraph_text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #bdbdbd;
}
/* ============================================================= */

/* DOWNLOAD KODI PAGE=========================================== */
.download-kodi_padding {
  padding-top: 120px;
  padding-bottom: 103px;
}

.download-kodi_background {
  background: #f1f9ff;
}

.download-kodi__padding {
  padding-top: 40px;
}

.kodi-ios__download-page-ios-img {
  max-width: 420px;
}

._position-left-top {
  left: -70px;
  top: -30px;
}

.__download-buttons-group-wrapper_text {
  font-weight: 500;
  font-size: 18px;
}

.__download-buttons-group-wrapper_margin {
  margin-top: 47px;
}

.__how-to-install_text {
  font-size: 18px;
  font-weight: 400 !important;
}

.kodi-macos_padding {
  padding-bottom: 10px;
}

.kodi-macos__image_face {
  position: relative;
  top: -57px;
  max-width: 390px;
}

.download-kodi-page-kodi-windows_padding {
  padding-top: 70px;
  padding-bottom: 10px;
}

.kodi-windows_face {
  position: relative;
  top: -70px;
  max-width: 488px;
}

.download-kodi-page-kodi-android_padding {
  padding-top: 117px;
}

.download-kodi__android-img {
  max-width: 488px;
}
/* ============================================================= */

/* DOWNLOAD KODI PAGE FOR ANDROID=============================== */

.android-download-page__header_padding {
  padding-bottom: 105px;
}
.jumbotron__paragraph_width {
  width: 98%;
}

.android-download-page__jumbotron_banner {
  max-width: 556px;
}

.guide-install-android__list-item_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
  width: 100%;
  display: inline-block;
  margin-bottom: auto;
  margin-top: auto;
}

.guide-install-android__list_margin {
  margin-top: 86px;
}

.guide-install-android_padding {
  padding-top: 120px;
  padding-bottom: 127px;
}

.guide-install-android__line {
  border: 1px solid rgba(160, 224, 245, 0.4);
  height: 160px;
  width: 1px;
  position: absolute;
  top: 175px;
  left: 16px;
  z-index: -10;
}

.android-download-page__veepn-download-paragraph_text {
  width: 70%;
}
/* ============================================================= */

/* DOWNLOAD KODI PAGE FOR IOS=================================== */
.jumbotron__download-for-ios-page {
  position: relative;
  top: -30px;
  left: -20px;
}

.jumbotron__download-for-ios-page-paragraph_width {
  width: 659px;
}

.kodi-ios-download-page_padding {
  padding-bottom: 107px;
  padding-top: 103px;
}

.kodi-ios-info_margin {
  margin-bottom: 60px;
}

.kodi-ios-info__paragraph {
  font-weight: normal;
  font-size: 18px;
  color: #555555;
}

.kodi-ios-info__paragraph_padding {
  padding-top: 40px;
}

.kodi-ios-info_padding {
  padding-top: 170px;
  padding-bottom: 114px;
}

.kodi-features__parag_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
}

.kodi-features-download-page__heading_margin {
  margin-bottom: 56px;
}

.kodi-features-download-page__list > li {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #555555;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}

.kodi-features-download-page__list > li:before {
  content: "\00B7";
  margin-right: 35px;
  color: #12b2e7;
  font-size: 65px;
}

.kodi-ios__parag_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
}

.ios-download-page__veepn-download-paragraph_text {
  width: 67%;
}

/* ============================================================= */

/* DOWNLOAD KODI PAGE FOR WINDOWS=============================== */
.kodi-windows-download-page_padding {
  padding-bottom: 120px;
  padding-top: 103px;
}

.kodi-windows__parag_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
}

.download-for-windows-page__jumbo-banner {
  position: relative;
  top: -30px;
  max-width: 538px;
}

.download-for-windows-page__windows-download-img {
  position: relative;
  top: 40px;
  max-width: 488px;
}
/* ============================================================= */

/* DOWNLOAD KODI PAGE ADDONS==================================== */
.kodi-addons-page_jumbo-banner {
  position: relative;
  top: -60px;
  left: -50px;
  max-width: 559px;
}

.best-kodi-addons_padding {
  padding-top: 105px;
  padding-bottom: 120px;
}

.kodi-addons-page__jumbotron_paragraph_width {
  width: 81%;
}

.best-kodi-addons__list-tem-name {
  font-weight: 500;
  font-size: 22px;
  /* line-height: 31px; */
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}

.best-kodi-addons__list-tem-name:before {
  content: url(../img/marker.svg);
  margin-right: 24px;
  color: #12b2e7;
}

.best-kodi-addons__list-paragraph {
  font-size: 18px;
  color: #555555;
}
/* ============================================================= */

/* FREE VPN FOR KODI APGE======================================= */
.free-vpn-page__img_position {
  position: absolute;
  top: -170px;
  left: -50px;
  max-width: 615px;
}

.kodi-free-vpn_background {
  background: #f1f9ff;
}

.kodi-free-vpn_padding {
  padding-top: 102px;
  padding-bottom: 114px;
}

.kodi-free-vpn__paragraph {
  font-weight: normal;
  font-size: 18px;
  color: #555555;
}

.kodi-free-vpn__padding {
  padding-top: 30px;
}

.__paragraph-vpn-soft_text {
  font-size: 18px;
  line-height: 25px;
  color: #555555;
  width: 100%;
}

.veepn-soft_padding {
  padding-top: 100px;
  padding-bottom: 104px;
}

.veepn-soft__img_position {
  position: absolute;
  top: -40px;
  left: 40px;
  max-width: 486px;
}

.free-vpn-page__header_padding {
  padding-bottom: 115px;
}

.hotspot_padding {
  padding-top: 103px;
  padding-bottom: 103px;
}

._light-gray-background {
  background: #f1f9ff;
}

.hotspot__img {
  position: absolute;
  top: -20px;
  max-width: 392px;
}

._vpn-soft-padding {
  padding-top: 103px;
  padding-bottom: 103px;
}

.tunnelbear__paragraph_width {
  width: 99%;
}

.tunnelbear__img {
  position: absolute;
  left: 100px;
  top: -50px;
  max-width: 365px;
}

.hideme__img {
  position: absolute;
  top: 60px;
  max-width: 375px;
}
/* ============================================================= */

/* MODAL BANNER================================================= */
.modal-dialog {
  max-width: 1176px;
}

.modal-body {
  padding: 0;
  height: 821px;
  z-index: 2;
}

.modal__heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 63px;
  color: #333333;
}

.modal__text {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #555555;
}

.modal__discount {
  font-weight: 900;
  font-size: 72px;
  line-height: 79px;
  color: #2a4bbb;
}

.modal__download-button {
  width: 389px;
  height: 88px;
  background: #ff5b5b;
  border-radius: 60px;
  border: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
}

.modal__download-button:hover {
  color: rgb(255, 195, 195) !important;
}

.modal__info_wrapper {
  margin-top: 149px;
  margin-left: 70px;
}

.modal__close-button {
  margin-top: 40px;
  margin-right: 40px;
}

.modal__veepn-banner {
  position: relative;
  top: -22px;
  z-index: -1;
}

/* ============================================================= */
